
<div class="ui container">
  <div class="ui segment">
      <div class="ui cards">
        <div class="card" *ngFor="let u of users; let i = index">
          <div class="image">
            <img src="{{ u.logo }}">
          </div>
          <div class="content">
            <div class="header"><a href="{{ u.url }}" target="_blank">{{ u.name }}</a></div>
            <div class="meta">{{ u.game }} {{ u.stream_type }}</div>
            <div class="description">{{ u.status }}</div>
          </div>
        </div>
      </div>
    </div>
